<div class="container content_panel">
	<div class="container_overlay">
		<div class="row">
	    <div class="col-md-3">
	    	<h3>(@student.name)
	    		________________</h3>
	    	<div class="user_sidebar">
					<div class="student_info">
						<p>Meetups attended:<br>
							(# of meetups/popover with names)
						<p>Your next meetup: <br>
							(meetup name/link to meetup page)<br>
							(meetup date)</p>
						<p>Your Mentor:<br>
							(@Mentor.name/popover with contact info)</p>
						<p>Times Met:<br>
							in person: <br>
							by phone:
						</p>
					</div>
				</div>
			</div>
			<div class="note-tabs col-md-8">
				<ul class="nav nav-tabs">
				  <li class="active" ><a href="#meetup" data-toggle="tab">New Meetup Report</a></li>
				  <li><a href="#mentor" data-toggle="tab">New Mentor Meeting Report</a></li>
				  <li><a href="#standings" data-toggle="tab">Badge Standings</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
	        <div class="tab-pane fade in active" id="meetup">
	        	<%= form_for [@student] do |f| %>
	          <%= f.text_area :email, :class => "form-control", :rows => "10" %>
	          <button type="button" class="btn btn-warning	">Submit</button>
	        </div>
	        <div class="tab-pane fade" id="mentor">
			    	<p><%= f.label :name, "Meeting Date" %><br>
      				<%= f.text_field :name, :placeholder => "Meeting Date", :id => "meetDate" %></p>
      			<p><%= f.check_box :email %> Meeting was in person
     					<%= f.label :in_person, "Meeting was in person" %><br>
     				<div id="meeting_comments" class="mentor_meeting_comment_box">
      				<%= f.text_area :encrypted_password, :class => "form-control", :rows => "5", :placeholder => "Notes about your mentor session.", :id => "meeting_note" %></p>
     				</div>
      				<% end %>
      				<div id="datepicker"></div>
	        </div>
	        <div class="tab-pane fade" id="standings">
	          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
	        </div>
      	</div>
			</div>
		</div>
	</div>
</div>